:root {
  --color-background-light: #fff;
  --color-grey-light: #f7f7f7;
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-secondary-light: #cbf0ff;
  --color-secondary-mid: #b0e9ff;
  --color-secondary-dark: #94e1fd;
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --grey-light-1: #faf9f9;
  --grey-light-2: #f4f2f2;
  --grey-light-3: #f0eeee;
  --grey-light-4: #ccc;
  --grey-dark-1: #333;
  --grey-dark-2: #777;
  --grey-dark-3: #999;
  --shadow-dark: 0 5px 1rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 1px 1rem rgba(0, 0, 0, 0.3);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--color-background-light);
  letter-spacing: 1.5px;
  min-height: 100vh;
  position: relative;
  line-height: 1.6;
}

.u-mgn-tp-sm {
  margin-top: 1.75rem;
}

.u-mgn-tp-mid {
  margin-top: 3rem;
}

.logo {
  margin-left: 1rem;
  cursor: pointer;
}

.nav {
  width: 35%;
  margin-right: 1rem;
}

.nav--list {
  display: flex;
  flex: 0 0 30%;
  justify-content: space-between;
  font-weight: 600;
  font-size: 1.5rem;
  transition: all 0.25s ease;
}

.nav--list-items {
  list-style: none;
  cursor: pointer;
}

.nav--list-items:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.nav--list-items:hover .nav__links :not(:last-child) {
  border-bottom: 0.3rem var(--color-primary-dark) solid;
}

.nav--list-items:active {
  -webkit-transform: translateY(-1.5px);
          transform: translateY(-1.5px);
}

.nav__links {
  text-decoration: none;
  color: var(--grey-dark-1);
}

.nav__links:hover {
  font-weight: 600;
  color: var(--grey-dark-1);
}

.nav--4 {
  padding: 0.75rem 1rem;
  border: 0.1rem var(--grey-dark-2) solid;
  font-weight: 600;
  border-radius: 0.5rem;
  background-color: var(--color-primary-dark);
  color: #fff;
  transition: all 0.25s ease;
}

.nav--4:hover {
  color: #fff;
  box-shadow: var(--shadow-dark);
}

.nav--4:active {
  box-shadow: var(--shadow-light);
}

.heading-primary {
  display: block;
  position: absolute;
  max-width: 44%;
  top: 30%;
  left: 1rem;
}

.heading-primary--main {
  font-size: 6rem;
  font-weight: 700;
}

.btn-main {
  padding: 1.25rem 4.5rem;
  border: none;
  background-color: var(--color-primary-dark);
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  font-family: inherit;
  letter-spacing: inherit;
  border-radius: 0.75rem;
  outline: none;
  transition: all 0.25s ease;
}

.btn-main:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  box-shadow: var(--shadow-dark);
  cursor: pointer;
}

.btn-main:active {
  -webkit-transform: translateY(-1.5px);
          transform: translateY(-1.5px);
  box-shadow: var(--shadow-light);
}

.form-container {
  max-width: 40%;
  height: 93.5vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 0%;
}

.form {
  background-color: var(--grey-light-1);
  text-align: center;
  padding: 20rem 0rem;
  border-radius: 15px;
}

.input {
  width: 100%;
}

.input__name, .input__password {
  width: 80%;
  padding: 1.5rem 2rem;
  border: 1px solid var(--grey-light-4);
  outline: none;
  font-size: 2rem;
  font-family: inherit;
  border-radius: 0.5rem;
}

.card {
  background-color: yellow;
  text-align: center;
  height: 15rem;
  min-width: 15rem;
}

.wrapper {
  height: 75vh;
}

.main-container {
  max-width: 120rem;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
}

.section-heading {
  min-height: 75vh;
  position: relative;
}

.section-features {
  min-height: 23.5rem;
  display: flex;
  justify-content: space-evenly;
  flex: 0 0 30%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
}
