.wrapper {
	height: 75vh;
	// position: relative;
	// background-color: linen;
	// background-image: linear-gradient(
	// 	to bottom right,
	// 	var(--color-secondary-mid),
	// 	var(--color-secondary-light),
	// 	var(--color-secondary-mid),
	// 	var(--color-secondary-light),
	// 	var(--color-secondary-dark)
	// );
}
.main-container {
	// background-color: var(--grey-light-1);

	max-width: 120rem;
	margin: 0 auto;
	min-height: 100vh;

	position: relative;
}
.section-heading {
	min-height: 75vh;
	position: relative;
}
.section-features {
	min-height: 23.5rem;
}
.header {
	// position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	// background-color: var(--grey-light-2);
	height: 6rem;
}
