.header-background {
	max-height: 75vh;
	// position: relastive;
	// background-color: rgb(250, 240, 230);
	background-image: linear-gradient(
		to bottom right,
		var(--color-secondary-mid),
		var(--color-secondary-light),
		var(--color-secondary-mid),
		var(--color-secondary-light),
		var(--color-secondary-dark)
	);
}
.section-nav {
	// min-height: 75vh;
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: 7.5rem;
	position: relative;
	max-width: 120rem;
	margin: 0 auto;
}

.main-container {
	// background-color: var(--grey-light-1);
	max-width: 120rem;
	margin: 0 auto;
	min-height: 75vh;
	position: relative;
}
.heading-container {
	min-height: 55vh;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.section-features {
	height: 25vh;
	display: flex;
	justify-content: space-between;
	margin-top: 10rem;

	background-color: var(--color-features-bg);
	// flex: 0 0 100%;
}
