.logo {
	margin-left: 1rem;
	// padding: 3rem 0 3rem 1.5rem;
	cursor: pointer;
}

.nav {
	width: 410px;
	margin-right: 1rem;

	&--list {
		display: flex;
		flex: 0 0 30%;
		justify-content: space-between;
		font-weight: 600;
		font-size: 1.5rem;
		transition: all 0.25s ease;
		&-items {
			list-style: none;
			cursor: pointer;
			&:hover {
				transition: all 0.25s ease;
				transform: translateY(-3px);
			}
			&:hover .nav__links :not(:last-child) {
				border-bottom: 0.3rem var(--color-primary-dark) solid;
			}
			&:active {
				transform: translateY(-1.5px);
			}
		}
	}
	&__links {
		text-decoration: none;
		color: var(--grey-dark-1);

		&:hover {
			font-weight: 600;
			color: var(--grey-dark-1);
		}
	}
	&--4 {
		padding: 0.75rem 1rem;
		border: 0.1rem var(--grey-dark-2) solid;
		font-weight: 600;
		border-radius: 0.5rem;
		background-color: var(--color-primary-dark);
		color: #fff;
		transition: all 0.25s ease;
		&:hover {
			// border-bottom: -0.3rem;
			color: #fff;
			box-shadow: var(--shadow-dark);
		}
		&:active {
			box-shadow: var(--shadow-light);
		}
	}

	&__icon {
		height: 1.4rem;
		width: 1.4rem;
		fill: var(--color-primary-dark);
		// padding-top: 5px;
	}
}

.heading__primary {
	display: block;
	// position: absolute;
	max-width: 44%;
	// top: 30%;
	// // left: 1rem;
	// top: 18%;
	// left: 1rem;
	&--main {
		font-size: 6rem;
		font-weight: 700;
	}
	&--sub {
		font-size: 1.35rem;
	}
}

.btn-main {
	padding: 1.25rem 4.5rem;
	border: none;
	background-color: var(--color-primary-dark);
	color: #fff;
	font-size: 2rem;
	font-weight: 700;
	font-family: inherit;
	letter-spacing: inherit;
	border-radius: 0.75rem;
	outline: none;
	transition: all 0.25s ease;

	&:hover {
		transform: translateY(-3px);
		box-shadow: var(--shadow-dark);
		cursor: pointer;
	}
	&:active {
		transform: translateY(-1.5px);
		box-shadow: var(--shadow-light);
	}
}
.form-container {
	max-width: 40%;
	height: 93.5vh;
	// padding: 3rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	// background-color: red;

	position: absolute;
	top: 0%;
}
.form {
	background-color: var(--grey-light-1);
	text-align: center;
	padding: 20rem 0rem;
	border-radius: 15px;
}

.input {
	width: 100%;
	&__name,
	&__password {
		width: 80%;
		padding: 1.5rem 2rem;
		border: 1px solid var(--grey-light-4);
		outline: none;
		font-size: 2rem;
		font-family: inherit;
		border-radius: 0.5rem;
	}
}

.card {
	// background-color: yellow;
	text-align: center;
	height: 15rem;
	// padding: 3rem;
	//min-width: 15rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 0 1 20%;
	margin-top: 5rem;
	// padding: 5rem 0 5rem 0;
	// & img {
	// 	height: 25rem;
	// 	width: 20rem;
	// }
	&__icon {
		height: 100%;
		width: 100%;
		display: flex;
		fill: var(--color-primary-dark);
	}
	&__caption {
		margin-top: 2rem;
		font-size: 1.25rem;
		font-weight: 700;
		// color: var(--color-primary-dark);
	}
}
